<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <!--
        hostingModel="OutOfProcess" : nhiều host share (như Somee) KHÔNG hỗ trợ tốt InProcess.
        Nếu deploy lên Somee mà vẫn lỗi, đổi thử hostingModel="InProcess".
      -->
      <aspNetCore processPath="dotnet"
                  arguments=".\HyliCoffeeWeb.dll"
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\logs\stdout"
                  hostingModel="OutOfProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
